#appbar {
  background: #fefefe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#appbar .buttons {
  display: flex;
  gap: 40px;
}

#appbar .window-controls {
  display: flex;
  gap: 8px;
}

#appbar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#appbar button:hover {
  background: #eaeaea;
}

#downloads-manager {
  position: relative;
}
