<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.getElementById("error").innerText = window.error.replace(
        "-",
        "\n"
      );
    });
  </script>
  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 2rem;
      border-top: 1px solid #e4e4e4;
      padding: 1rem 10rem;
      font-family: sans-serif;
    ">
    <h1>Could not load page</h1>
    <h5 id="error"></h5>
  </body>
</html>
